<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<header th:fragment="header">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">冒冒肝度计算器</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    <span th:text="${@characterService.getCurrentCharacter().characterName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd th:each="character : ${@characterService.getCharacterList()}">
                        <a th:text="${character.characterName}" th:href="'javascript:switchCharacter(' +  ${character.id}+')'"></a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/page/character">
                    <i class="layui-icon layui-icon-set"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li th:each="menu : ${(T(site.minnan.mp.infrastructure.config.PageConfig)).getMenu()}"
                    class="layui-nav-item"
                    th:classappend="${#request.getRequestURI() == menu.url} ? 'layui-this' : ''">
                    <a th:text="${menu.label}" th:href="${menu.url}"></a>
                </li>
            </ul>
        </div>
    </div>
</header>
</body>

</html>