<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/jquery-3.6.0.min.js"></script>
    <title>layout 管理系统大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="/js/head.js"></script>
    <script src="/js/request.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="fragments/head::header"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" th:if="${session.currentCharacter} != null">
            <th:block th:if="${#lists.isEmpty(arcaneList)}">
                <div>
                    <h2>请初始化当前岛球信息</h2>
                    <h4>未开启的岛球可以不填</h4>
                </div>
                <div style="margin-top: 30px">
                    <form class="layui-form" id="initForm" action="">
                        <div class="layui-form-item" th:each="arcType : ${allArcaneType}">
                            <label class="layui-form-label" th:text="${arcType.label()}" style="width: 100px;"></label>
                            <div class="layui-input-inline">
                                <input type="text" th:id="'level-' + ${arcType.name()}"
                                       th:name="'level-' + ${arcType.name()}" placeholder="请输入当前岛球等级"
                                       data-type="level"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">级</div>
                            <div class="layui-input-inline">
                                <input type="text" th:id="'count-' + ${arcType.name()}"
                                       th:name="'count-' + ${arcType.name()}" placeholder="请输入当前岛球数量"
                                       data-type="count"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-word-aux">个</div>
                        </div>
                        <div class="layui-form-item">
                            <button id="initSubmit" class="layui-btn" lay-filter="initForm" lay-submit>提交</button>
                        </div>
                    </form>
                </div>
            </th:block>
            <th:block th:if="!${#lists.isEmpty(arcaneList)}">
                <div>
                    <button class="layui-btn layui-btn-sm" id="addBtn">
                        <i class="layui-icon">&#xe654;</i>记录今日岛球
                    </button>
                </div>
                <table class="layui-table">
                    <colgroup>
                        <col width="50">
                        <col width="150">
                        <col width="100">
                        <col width="180">
                        <col width="200">
                        <col width="200">
                        <col width="200">
                        <col width="200">
                        <col width="200">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>岛球</th>
                        <th>当前等级</th>
                        <th>当前个数/升级所需个数</th>
                        <th>当前总个数/满级所需个数</th>
                        <th>按照过去3天肝度，到下一级所需天数</th>
                        <th>按照过去7天肝度，到下一级所需天数</th>
                        <th>按照过去3天肝度，到达满级天数</th>
                        <th>按照过去7天肝度，到达满级天数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="arcane, itr : ${arcaneList}">
                        <td th:text="${itr.index + 1}"></td>
                        <td th:text="${arcane.arcaneType.label()}"></td>
                        <td th:text="${arcane.currentLevel}"></td>
                        <td th:text="${arcane.currentCount} + '/' + ${arcane.countToNextLevel}"></td>
                        <td th:text="${arcane.totalCount} + '/' + ${arcane.countToMaxLevel}"></td>

                        <td th:if="!${arcane.dove3}" th:text="${arcane.dayCountToNextLevelThreeDay}"></td>
                        <td th:if="${arcane.dove3}" >这辈子都没可能升级了</td>

                        <td th:if="!${arcane.dove7}" th:text="${arcane.dayCountToNextLevelSevenDay}"></td>
                        <td th:if="${arcane.dove7}">这辈子被子都没可能升级了</td>

                        <td th:if="!${arcane.dove3}" th:text="${arcane.dayCountToMaxLevelThreeDay}"></td>
                        <td th:if="${arcane.dove3}">这辈子被子都没可能升满了</td>

                        <td th:if="!${arcane.dove7}" th:text="${arcane.dayCountToMaxLevelSevenDay}"></td>
                        <td th:if="${arcane.dove7}">这辈子被子都没可能升满了</td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
        <div style="padding: 15px" th:if="${session.currentCharacter} == null">
            <h1>请先选择使用的角色</h1>
        </div>
    </div>
</div>
</body>
<div id="addForm" style="display: none">
    <div style="padding: 15px">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px">日期</label>
                <div class="layui-input-inline">
                    <input type="text" id="date" name="noteDate" class="layui-input" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item" th:each="arcType : ${currentList}">
                <label class="layui-form-label" th:text="${arcType.label()}" style="width: 100px;"></label>
                <div class="layui-input-inline">
                    <input type="text" th:id="${arcType.name()}" th:name="${arcType.name()}" placeholder="输入今天获取的岛球"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-word-aux">个</div>
            </div>
            <div class="layui-form-item">
                <button id="submitBtn" class="layui-btn" style="width: 70%;margin-left: 15%" lay-submit
                        lay-filter="addForm">提交
                </button>
            </div>
        </form>
    </div>
</div>
<script>

    $('#addBtn').on('click', function () {
        $("#addForm").style = ""
        layer.open({
            type: 1,
            content: $('#addForm'),
            title: "填写今日岛球进度",
            area: ['400px', '500px']
        })
    })

    layui.use(["form", "laydate"], function () {
        var form = layui.form
        var laydate = layui.laydate

        laydate.render({
            elem: "#date"
        })

        form.on("submit(initForm)", function (data) {
            let field = data.field
            let levelMap = {}
            let countMap = {}
            for (let key in field) {
                let nameSplit = key.split("-")
                let arcaneType = nameSplit[1]
                let fieldType = nameSplit[0]
                console.log(arcaneType, fieldType)
                if (fieldType === 'level') {
                    levelMap[arcaneType] = field[key]
                } else if (fieldType === 'count') {
                    countMap[arcaneType] = field[key]
                }
            }

            let dataToSubmit = []
            for (let arcaneType in levelMap) {
                dataToSubmit.push({
                    "arcaneType": arcaneType,
                    "currentLevel": levelMap[arcaneType],
                    "currentCount": countMap[arcaneType]
                })
            }
            let layerIndex = layer.load(1)
            request.post("/api/arc/initArcane", dataToSubmit)
                .then(response => {
                    layer.close(layerIndex)
                    location.reload()
                })
                .catch(err => {
                    layer.msg(err)
                })
            return false
        })

        form.on("submit(addForm)", function (data) {
            let field = data.field
            console.log(field)
            let attainList = []
            for (let key in field) {
                if (key !== 'noteDate') {
                    attainList.push({
                        "arcaneType": key,
                        "attainCount": field[key]
                    })
                }
            }
            let dataToSubmit = {
                "noteDate": field["noteDate"],
                "attainList": attainList
            }
            console.log(dataToSubmit)
            request.post("/api/arc/addArcaneAttainRecord", dataToSubmit)
                .then(response => {
                    layer.msg("success")
                    location.reload()
                }).catch(err => {
                layer.error(err)
            })
            return false;
        })

    })

</script>
<script th:inline="javascript">
    var data = [[${chartDataList}]]
    console.log(data)
</script>
</html>