<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 管理系统大布局 - Layui</title>
    <script type="text/javascript" src="/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/request.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="fragments/head::header"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div>
                <a href="/page/addCharacter" type="button" class="layui-btn layui-btn-sm" id="addBtn">
                    <i class="layui-icon">&#xe654;</i>
                </a>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>角色名</th>
                    <th>职业</th>
                    <th>等级</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="character : ${characterList}">
                    <td th:text="${character.characterName}"></td>
                    <td th:text="${character.job}"></td>
                    <td th:text="${character.level}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/layui/layui.js"></script>
<script src="/js/head.js"></script>
</html>